<body>

    <form>
      Product Nmae:<br>
      <input type="text" name="productname" value="">
      <br>
      Product Code:<br>
      <input type="number" name="productcode" value="">
      <br>
      Available:<br>
      <input type="text" name="available" value="">
      <br>
      Price:<br>
      <input type="number" name="price" value="">
      <br>
      Five Star Rating:<br>
      <input type="number" name="five" value="">
      <br>

      <input type="submit" value="Submit">
    </form> 
</body>    